<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h2>Wrong Id and Password</h2>
    
    <h3>Click <a href="/">here</a> to log in again.</h3>


<%- include("includes/marquee.ejs")%>
    <!-- footer -->
    <%- include('includes/footer.ejs') %>
  </body>
</html>
